* {
    font-family: 'Bungee Hairline', sans-serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@media screen and (max-width: 800px) {
    nav{
        font-size: 0.7rem;
        width: 100%;
        padding: 10px;
    }
    #home p{
        font-size: 1rem;
        margin: 10px;
    }
    #home img{
        width: 200px;
        height: 300px;
        margin: 10px;
    }
    #projetos div{
        padding: 15px;
        display: flex;
        flex-direction: column;
    }
    #contatos{
        padding: 15px;
    }
    #imagem-principal-contatos {
        
    }


}
body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 100%;
    background: #221F1F;
}
nav {
    width: 100%;
    position: fixed;
    background: linear-gradient(#10114b, transparent);
    text-align: center;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    margin: 15px 10px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: all 0.25 ease-in-out;
    border-radius: 5px;
    padding: 10px;
}
nav ul li a:hover{
    border-bottom: 3px solid #fff;
}
/* body {
    background: #272425;
} */
section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

#texto {
    width: 300px;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    font-size: 1.5rem;
    background:linear-gradient(#2d2d3bb9, transparent) ;
}
#foto {
    width: 400px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 3px 5px rgba(14, 0, 63, 0.459);
    padding: 5px;
} 
#home {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}
#projetos {
    display: flex; 
}
#projetos div{
    display: flex;
    justify-content: space-around;
}
#link-agilidade img {
    min-width: 300px;
    min-height: 150px;
    width: 100%;
    border-radius: 40px;
    border: none;
    padding: 30px;
}
#link-velocidade img {
    min-width: 300px;
    min-height: 150px;
    width: 100%;
    border-radius: 40px;
    border: none;
    padding: 30px;
}
#link-agilidade {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#link-velocidade {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#link-agilidade a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 8px;
    margin-top: 10px;
}
#link-agilidade a:hover{
    background-color: #221F1F;
    color: #fff;
    border: solid 1px ;
}
#link-velocidade a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 8px;
    margin-top: 10px;
}   
#link-velocidade a:hover{
    background-color: #221F1F;
    color: #fff;
    border: solid 1px ;
}
#contatos {
    display: flex;
    justify-content: space-around;
    
}
#links-redesSociais {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#links-redesSociais div{
    display: flex;
    align-items: center;
    width: 100%;
}
#links-redesSociais div a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
#links-redesSociais div a:hover{
    border-bottom: solid 1px #fff;
    border-radius: 10px;
}
#links-redesSociais img{
    width: 50px;
}
#imagem-principal-contatos img {
    width: 100%;
}

#banco-de-dados {
    flex-direction: column;
}
h2 {
    color: #fff;
    padding: 20px;
}
#banco-de-dados div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #fff;
}
#button-salvar {
    width: 100px;
    height: 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 20px;
}
#button-salvar:hover{
    background-color: #daf7d9;
}

section:nth-of-type(1){

    background-image: url(imagens/conceito-de-mesa-vista-superior-com-espaco-de-copia.jpg);
}
section:nth-of-type(2){
    /* background: #221F1F; */
}
section:nth-of-type(3){
    /* background: #221F1F; */
}
section:nth-of-type(4){
/*     background: #221F1F;*/

}